@using Microsoft.AspNetCore.Identity
@model ChangeRoleViewModel

<h2>Изменение ролей для пользователя @Model.UserEmail</h2>

<form asp-action="Assign" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="ChosenRoles" value="@role.Name"
            @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />

            @role.Name <br />
        }
    </div>
    <input type="hidden" asp-for="returnAction" />
    <input type="hidden" asp-for="returnController" />
    <input type="hidden" asp-for="UserId" />

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-controller="@Model.returnController" asp-action="@Model.returnAction" class="btn btn-primary">Назад</a>
</form>